URxvt.background:	#ccc9c5
URxvt.foreground:	#000000
URxvt.color0:		#000000
URxvt.color1:		#aa0000
URxvt.color2:		#00aa00
URxvt.color3:		#aa5500
URxvt.color4:		#0000aa
URxvt.color5:		#aa00aa
URxvt.color6:		#00aaaa
URxvt.color7:		#ffffff
URxvt.color8:		#555555
URxvt.color9:		#aa0000
URxvt.color10:		#00aa00
URxvt.color11:		#aa5500
URxvt.color12:		#0000aa
URxvt.color13:		#aa00aa
URxvt.color14:		#00aaaa
URxvt.color15:		#ffffff
URxvt.jumpScroll:	true
URxvt.skipScroll:	true
URxvt.font:		xft:Monospace:size=9:rgba=rgb
URxvt.scrollBar:	false
URxvt.scrollTtyOutput:	false
URxvt.saveLines:	8192
URxvt.internalBorder:	0
URxvt.externalBorder:	0
URxvt.pointerBlank:	true
